<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="wrapper">
      <!--Navbar-->
      <div class="navbar flex justify-between px-40 py-5">
        <div class="left-side flex">
          <div class="nav-img px-7">
            <img src="img/4375113_logo_tripadvisor_icon.png" width="60px" />
          </div>
          <div class="right-side p-4">
            <a href="#" class="text-black p-4 font-semibold hover:text-gray-500"
              >Home</a
            >
            <a
              href="/about"
              class="text-black p-4 font-semibold hover:text-gray-500"
              >About</a
            >
          </div>
        </div>

        <div class="navs mr-4 my-3 text-lg font-mono">
          <a
            href="#"
            class="mx-5 text-black bg-yellow-300 px-4 py-2 rounded hover:bg-yellow-500 shadow-lg transition ease-in duration-100"
            >Sign up</a
          >
          <a href="#" class="m-4 text-black hover:text-gray-600">Log in</a>
        </div>
      </div>
      <!--Hero Section-------------------------------------------------------------------------------------------------->
      <div class="hero flex justify-evenly my-16 bg-slate-200">
        <div class="hero-left-side px-48 py-10">
          <p class="text-lg text-gray-500 tracking-wide"><%= day %></p>
          <p>SDFSDFSDFSDFSD</p>
          <h1 class="lg:text-6xl md:text-4xl font-black">
            We make your business looks great
          </h1>
          <div class="btns">
            <button
              class="bg-sky-400 text-white rounded p-3 font-semibold hover:bg-sky-500 my-5 shadow-lg transition ease-in duration-75"
            >
              Learn More
            </button>
            <button
              class="bg-gray-700 text-white rounded mx-3 p-3 font-semibold hover:bg-sky-700 my-5 shadow-lg transition ease-in duration-75"
            >
              Get Started
            </button>
          </div>
        </div>
        <div class="hero-right-side px-40">
          <img src="img/monitor.svg" width="1000px" />
        </div>
      </div>
      <!--Features-->
      <div class="fuetures md:flex py-16 px-16">
        <div class="img mr-3 mt-3 w-52">
          <img
            src="img/theme-photos-CGpifH3FjOA-unsplash.jpg"
            class="w-full rounded shadow-md"
          />
        </div>
        <div class="img mr-3 mt-3">
          <img
            src="img/windows-JW-T2BH5k5E-unsplash.jpg"
            class="w-full rounded shadow-md"
          />
        </div>
        <div class="img mr-3 mt-3">
          <img
            src="img/windows-tWSCauvDzic-unsplash.jpg"
            class="w-full rounded shadow-md"
          />
        </div>
        <div class="img mr-3 mt-3">
          <img
            src="img/windows-rki91h7q8f4-unsplash.jpg"
            class="w-full rounded shadow-md"
          />
        </div>
      </div>
      <!--footer-->
    </div>
  </body>
</html>
